.fis {
	/* background-color: orange; */
}

.header {
	&__logo {
		lost-column: 1/10;
		font-size: 60px;
		color: #666;
		text-transform: uppercase;
		font-weight: 100;
	}
	&__desc {
		lost-column: 3/10;
		color: #b3b3b3;
		font-size: 20px;
		font-weight:100;
		margin-top: 10px;
	}
	&__socialContainer {
		lost-column: 2/14;
		display: inline;
		line-height: 25px;
		margin-top: 5px;
		margin-left: -25px;
		&_desc {
			font-size: 13px;
			color: #666;
			margin: 0;
		}
		&_link {
			color: #fff;
			&Circle {
				color: #cb3b3a;
			}
		}
	}
	&__localize {
		lost-column: 1/10;
		margin-top: 8px;
	}
	&__login {
		margin-top: 10px;
		lost-column: 4/12;
	}
}

.fa_stack {
  cursor: pointer;
  margin: 0px;
  transition: all .25s cubic-bezier(0.3, 1, 0.4, 1) 0s;
  &:hover {
  	transform: scale(1.2);
  	& .header__socialContainer_linkCircle {
			color: #b63534;
		}
	}
  &:active {
  	position: relative;
  	top: 2px;
  }
}

