@import '../../variables.css';

.login {
	&__input {
		display: inline-block;
		&_user,
		&_pass {
			width: 130px;
			height: 26px;
			border: 1px solid #eeeeee;
			font-size: 10pt;
			padding-left: 10px;
		}
		&_submit {
			color: #fff;
			border: none;
			height: 26px;
			width: 30px;
			position: relative;
			top: -2px;
			background-color: var(--red);
			border-bottom: 5px solid var(--red-shadow);
			transition: all .1s linear;
			&:hover {
				border-bottom: 0px solid var(--red-shadow);
				top: 0px;
				/* height: 30px; */
			}
		}
	}
	&__helpers {
		& a {
			position: relative;
			top: 10px;
			text-decoration: none;
			color: var(--blue);
			font-size: 13px;
			&:hover {
				text-decoration: underline;
			}
		}
		&:ntn-child(2) {
			margin-left: 15px;
		}
	}
}