@import "../../variables.css";

.arrows {
	float: right;
	position: relative;
	left: -5px;
  	&_left,
  	&_right {
  		display: inline-block;
		background-color: var(--blue);
		width: 7px;
		height: 2px;
		border-radius: 2px;
		position: relative;
		transition: all var(--swift-out);
		bottom: 3px;
  	}
  	&_left {
  		transform: rotate(45deg);
  		left: 8px;
  	}
  	&_right {
  		transform: rotate(-45deg);
  		left: 5px;
  	}
  	&_container {
  		cursor: pointer;
  		&:hover {
	  		& .arrows_left {
	  			transform: rotate(225deg);
	  		}
	  		& .arrows_right {
	  			transform: rotate(-225deg);
	  		}
  		}
		&:active {
	  		& .arrows_left {
	  			transform: rotate(315deg);
	  		}
	  		& .arrows_right {
	  			transform: rotate(-315deg);
	  		}
  		}
	}
}