@import '../../variables.css';

.localize {
	&_container {
		display: table;
	}
	&_select {
		cursor: pointer;
		border: none;
		border-bottom: 2px var(--blue) dashed;
		background-color: #fff;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
		color: var(--blue);
		font-size: 13px;
		&::-ms-expand {
			display: none;
		}
	}
}