:root {
	/*
	 * Colors
   	 * ======================================================================== */
	--red:                   #cb3b3a;
	--red-shadow:            #b63534;
	--white:                 #fff;
	--gray:                  #666;
	--gray-cr:               #b3b3b3;
	--gray-light:            #f6f6f6;
	--gray-input:            #e6e6e6;
	--blue:                  #007fb7;
	--blue-menu:             #0d8bd1;
	--blue-menu-hover:       #0d80c1;

	/*
   	 * Animations
   	 * ======================================================================== */

	--swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
	--ease:                  .20s ease;
}